@mixin text-attributes() {
    margin-left: 25px;
    font-family: sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 130%;
    color: #10131C;
    letter-spacing: -0.02em;
}

@mixin date-attributes() {
    width: 135px;
    height: 20px;
    border: 1px solid #9D9DB5;
    text-align: center;
    margin-top: 10px;
    border-radius: 50px;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 130%;
    font-family: sans-serif;
    color: #9D9DB5;
}
@mixin check-attributes() {
    position: relative;
    left: 25px;
}